

nav ul li{
  margin: 0px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  text-decoration: none;
  }


.yi{
  position: relative;
  top:  3825px;
  left: 0;
}
.er{
  position: relative;
  top: 3600px;
  left: 300px;
}
.san{
  position: relative;
  top: 3600px;
  left: 0px;
}
.si{
  position: relative;
  top: 3300px;
  left: 600px;
}
.wu{
  position: relative;
  top: 3030px;
  left: 1000px;
}
.liu{
  color: white;
}
a{
  text-decoration: none;
  color: white;
  
}
body{
background-color: black;
}
span{
  padding: 10px;
  }
p{
  size: 100px;
  }
.dm:hover{
  color:orange;
  transition: 0.8s;
  }